div.master-header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 6px 8px #31313115;
  display: grid;
  grid-template-columns: 10% 53% 37%;
  justify-content: center;
  justify-items: center;
  padding: 0 32px;
  position: relative;
  width: 100%;
}

h1.master-header__title {
  color: #8b8b8b;
  cursor: pointer;
  font-size: 26px;
  margin: 15px 20px;
  position: relative;
}

h1.master-header__title:hover {
  color: #333;
}

ul.master-header__menu {
  display: flex;
  align-items: center;
}

ul.master-header__menu--space {
  display: flex;
  align-items: center;
}

ul.master-header__menu--space p {
  color: #8b8b8b;
  cursor: pointer;
  font-size: 14px;
  margin: 0 20px;
  position: relative;
  right: 32px;
}

ul.master-header__menu--space p:hover {
  color: #333;
}

ul.master-header__menu p,
ul.master-header__menu button,
ul.master-header__menu i {
  color: #8b8b8b;
  cursor: pointer;
  font-size: 14px;
  margin: 0 20px;
  position: relative;
  right: 0;
}

ul.master-header__menu button {
  background-color: #6e6e6e;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 6px 8px #31313150;
  color: #fff;
  font-size: 14px;
  padding: 10px 24px;
  text-transform: uppercase;
}
