div.homepage-header {
  align-items: center;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  margin-top: 24px;
  padding: 0 64px;
}

div.homepage-header h2 {
  color: #505050;
}

div.homepage-header p {
  color: #8b8b8b;
  font-size: 14px;
}

div.homepage-header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

div.homepage-header ul:last-child {
  justify-content: end;
}

div.homepage-header ul li {
  border: none;
  border-right: 1px solid #b5b5b5;
  margin: 0 12px;
  margin-left: 25px;
  padding: 0;
  padding-right: 32px;
}

div.homepage-header ul li:first-child {
  margin-left: 0;
}

div.homepage-header ul li:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}

div.homepage-header ul li p {
  font-size: 14px;
}

div.homepage-header ul li p b {
  font-size: 18px;
}

div.homepage-body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  margin-top: 12px;
  padding: 0 64px;
}

div.homepage-body section {
  display: grid;
  grid-template-columns: 70% 27.5%;
  grid-template-rows: auto;
  grid-gap: 0 32px;
  grid-row: 1;
  height: 300px;
}

div.homepage-body section:last-child {
  grid-row: 2;
  height: 280px;
  margin-top: 12px;
}

div.graph {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px #33333315;
  height: 100%;
  position: relative;
  width: 100%;
}

div.simulator {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px #33333315;
  height: 100%;
  position: relative;
  width: 100%;
}

div.homepage-body section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 0 25px;
  list-style: none;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  width: 100%;
}

div.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px #33333315;
  height: 100%;
  position: relative;
  width: 100%;
}

div.move {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px #33333315;
  height: 95%;
  position: relative;
  width: 100%;
  margin-top: 12px;
}
